.contact-page {
  width: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.contact-img img {
  width: 100%;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  z-index: -1;
  filter: blur(5px);
}

.contact-form {
  width: 75%;
  display: flex;
  gap: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px 80px 100px 0;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(75px);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}
.contact-left {
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid white;
}
.contact-left h1 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}
.contact-icon {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}
.contact-icon .first,
.contact-icon .second,
.contact-icon .third {
  color: rgb(245, 245, 245);
  display: flex;
  gap: 2rem;
  text-align: center;
}
.contact-des h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
}

.contact-des p {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

.contact-input {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.contact-input input {
  width: 100%;
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.contact-des Button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin-top: 1rem;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-section {
  width: 100%;
}

@media (max-width: 1000px) {
  .contact-form {
    margin-top: 2rem;
    width: 90%;
    gap: 2rem;
    padding: 50px 50px 50px 50px;
    flex-wrap: wrap;
  }
  .contact-img img {
    height: calc(100vh - 50px);
  }
  .contact-left {
    width: 100%;
    border-right: none;
  }
  .contact-des h1 {
    font-size: 2rem;
  }

  .contact-des p {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .contact-form {
    width: 95%;
  }
  .contact-des h1 {
    font-size: 1.5rem;
  }

  .contact-des p {
    font-size: 12px;
  }
}
