.button {
  background: -webkit-linear-gradient(rgb(0, 238, 255), rgb(0, 144, 117));
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
  padding: 8px 10px;
  width: 100px;
  border-radius: 10px;
  border: none;
  transition: all 0.6s;
}
.button:hover {
  transition: all 0.6s;
  background: black;
  color: #ffffff;
  cursor: pointer;
}
