.button {
  background: -webkit-linear-gradient(90deg, #000000, #001aff);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 8px 10px;
  width: 100px;
  border-radius: 10px;
  border: none;
  transition: all 0.6s;
}
.button:hover {
  transition: all 0.6s;
  background: black;
  color: aqua;
  cursor: pointer;
}
