.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  z-index: 1;
  padding: 0 10px;
  position: fixed;
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.4);
  background: transparent;
  backdrop-filter: blur(10px);
}
.nav-logo {
  font-weight: 500;
  font-size: 20px;
}
.nav-links {
  display: flex;
  gap: 60px;
}
.nav-button {
  gap: 10px;
  display: flex;
}
