.sponsor-profile input{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.sponsor-profile Button{
    width: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
