.forget-right img {
  width: 600px;
  height: 500px;
  object-fit: cover;
  border-radius: 20px;
}
.forget {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}
.forget-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.forget-left h1,
p {
  text-align: center;
}
.forget-input Input {
  width: 600px;
  border: none;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

.forget-left Button {
  width: 100%;
  height: 40px;
  /* margin-top: 1rem; */
  border-radius: 5px;
}

.forget-icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.forget-icons i {
  font-size: 25px;
}
